<div class="website-content-card">
  <h2>Quản lý nội dung website</h2>

  <div class="room-controls">
    <input type="text" placeholder="Tìm kiếm tiêu đề..." />
    <button class="add-room">+ Thêm nội dung</button>
  </div>

  <div class="table-header">
    <div>STT</div>
    <div>Tiêu đề</div>
    <div>Loại</div>
    <div>Ngày cập nhật</div>
    <div>Hình ảnh</div>
    <div>Hành động</div>
  </div>

  <div class="table-row" *ngFor="let content of websiteContents; let i = index">
  <div>{{ i + 1 }}</div>
  <div>{{ content.title }}</div>
  <div>{{ content.content_type[0].name || 'Không rõ' }}</div>
  <div>{{ content.updatedAt | date:'dd/MM/yyyy' }}</div>
  <div *ngIf="content?.image">
    <img [src]="'/assets/img/' + content.image" />
  </div>
  <div class="status-column">
  <button class="delete-button" (click)="onDelete(content)" title="Xóa">
    <i class="fas fa-trash"></i>
  </button>

  <button class="edit-button" (click)="onEdit(content)" title="Sửa">
    <i class="fas fa-pen"></i>
  </button>
</div>
</div>

</div>
