<div class="feature-management-card">
  <h2>Quản lý tiện nghi</h2>

  <!-- Filter -->
  <app-common-filter-bar
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
    [label]="'Thêm tiện nghi'"
  ></app-common-filter-bar>

  <!-- Popup Thêm tiện nghi -->
  <app-feature-form
    [isVisible]="isAddPopupOpen"
    [feature]="newFeature"
    [isEdit]="false"
    [imagePreview]="imagePreview"
    (close)="onClosePopup()"
    (submitForm)="onAddSubmit()"
    (fileSelected)="onFileSelected($event)"
  ></app-feature-form>

  <!-- Feature List -->
  <app-feature-list
    [features]="features"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.feature)"
    (viewDetail)="onViewDetail($event)"
    (openEdit)="onOpenPopup(false, $event)"
  ></app-feature-list>

  <app-pagination
    [total]="filter.total"
    [page]="filter.page"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Popup chi tiết tiện nghi -->
  <app-feature-detail
    *ngIf="selectedFeature"
    [isVisible]="isDetailPopupOpen"
    [feature]="selectedFeature"
    (close)="onClosePopup()"
  ></app-feature-detail>

  <!-- Popup Sửa tiện nghi -->
  <app-feature-form
    [isVisible]="isEditPopupOpen"
    [feature]="selectedFeature"
    [isEdit]="true"
    [imagePreview]="imagePreview"
    (close)="onClosePopup()"
    (submitForm)="onEditSubmit()"
    (fileSelected)="onFileSelected($event)"
  ></app-feature-form>
</div>
