<div class="popup-add-popup" *ngIf="isVisible && employee">
  <div class="popup-content">
    <h2>{{ isEdit ? "Sửa" : "Thêm" }} thông tin nhân viên</h2>

    <form (ngSubmit)="formSubmit.emit()" #editForm="ngForm">
      <div class="popup-section">
        <label for="first_name">Họ:</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          [(ngModel)]="employee.first_name"
          required
        />
      </div>
      <div class="popup-section">
        <label for="last_name">Tên:</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          [(ngModel)]="employee.last_name"
          required
        />
      </div>
      <div class="popup-section">
        <label for="position">Chức vụ:</label>
        <input
          type="text"
          id="position"
          name="position"
          [(ngModel)]="employee.position"
        />
      </div>
      <div class="popup-section">
        <label for="department">Bộ phận:</label>
        <input
          type="text"
          id="department"
          name="department"
          [(ngModel)]="employee.department"
        />
      </div>
      <div class="popup-section">
        <label for="address">Địa chỉ:</label>
        <input
          type="text"
          id="address"
          name="address"
          [(ngModel)]="employee.address"
        />
      </div>
      <div class="popup-section">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="employee.email"
          required
        />
      </div>
      <div class="popup-section">
        <label for="phone_number">SĐT:</label>
        <input
          type="text"
          id="phone_number"
          name="phone_number"
          [(ngModel)]="employee.phone_number"
        />
      </div>
      <div class="popup-section" *ngIf="!isEdit">
        <label for="password">password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="employee.password"
        />
      </div>
      <div class="popup-section" *ngIf="!isEdit">
        <label for="secret_key">Secret key:</label>
        <input
          type="text"
          id="secret_key"
          name="secret_key"
          [(ngModel)]="employee.secret_key"
        />
      </div>
      <div class="popup-section">
        <label for="role">Vai trò:</label>
        <select id="role" name="role" [(ngModel)]="employee.role">
          <option value="staff">Nhân viên</option>
          <option value="admin">Quản trị</option>
        </select>
      </div>
      <div class="popup-section">
        <label for="status">Trạng thái:</label>
        <select id="status" name="status" [(ngModel)]="employee.status">
          <option [value]="true">Đang làm việc</option>
          <option [value]="false">Nghỉ việc</option>
        </select>
      </div>

      <div class="popup-actions">
        <button type="submit" [disabled]="!editForm.form.valid">Lưu</button>
        <button type="button" (click)="closePopup.emit()">Hủy</button>
      </div>
    </form>
  </div>
</div>
