<div class="roomtype-management-card">
  <h2>Quản lý dịch vụ</h2>

  <app-common-filter-bar
    [filter]="filter"
    [label]="'Thêm dịch vụ'"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
  ></app-common-filter-bar>

  <app-service-list
    [services]="services"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.service)"
    (viewDetail)="onViewDetail($event)"
    (openEdit)="onOpenPopup(false, $event)"
  ></app-service-list>

  <app-pagination
    [total]="filter.total"
    [page]="filter.page"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-service-form
    [isVisible]="isAddPopupOpen"
    [service]="newService"
    [isEdit]="false"
    [imagePreview]="imagePreview"
    (submitForm)="onAddSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-service-form>

  <app-service-form
    [isVisible]="isEditPopupOpen"
    [service]="newService"
    [isEdit]="true"
    [imagePreview]="imagePreview"
    (submitForm)="onEditSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-service-form>
</div>
