.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0e0e1a, #1a1a2e);
  font-family: "Arial", sans-serif;
    background-image: url('/img/banner1.webp'); /* Correct path */
  background-size: cover;
  background-position: center;
}

.form {
  background: rgba(26, 26, 46, 0.95);
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 215, 0, 0.1);
  position: relative;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
}

.step {
  width: 30px;
  height: 30px;
  background: #444;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
  transition: background 0.3s ease;
  position: relative;
  top: -10px;
}

.step.completed {
  background: #ffd700;
  color: #1a1a2e;
}

.progressLine {
  position: absolute;
  height: 4px;
  background: #ffd700;
  
  bottom: 57%;
  left: 15px;
  transform: translateY(-50%);
  transition: width 0.3s ease;
  z-index: 0;
}

.title {
  color: #ffd700;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  top: -10px;
}

.input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: #1a1a2e;
  color: #ffd700;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #ffd700;
  outline: none;
}

.button {
  padding: 14px;
  background: linear-gradient(45deg, #ffd700, #e6c200);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.message {
  color: #ffcc00;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.timer {
  color: #ffcc00;
  text-align: center;
  font-size: 14px;
}

.resend {
  color: #ffd700;
  cursor: pointer;
  text-decoration: underline;
}

.resend:hover {
  color: #e6c200;
}