<div class="table-row" *ngFor="let room of rooms; let i = index">
  <div>{{ i + 1 }}</div>
  <div>
    {{ room.name }}
  </div>
  <div>{{ room.floor }}</div>
  <div>{{ room.room_class?.[0]?.name || "Không rõ" }}</div>
  <div>{{ room.status?.[0]?.name || "Không rõ" }}</div>
  <div>{{ room.room_class?.[0]?.bed_amount }}</div>
  <div>{{ room.room_class?.[0]?.price | currency : "VND" }}</div>
  <div class="actions">
    <button class="icon-button" (click)="viewDetail.emit(room)">
      <i class="fas fa-eye"></i>
    </button>
    <button class="icon-button" (click)="openPopup.emit(room)">
      <i class="fas fa-pen"></i>
    </button>
  </div>
</div>
