<div class="roomtype-management-card">
  <h2>Quản lý nhân viên</h2>

  <app-employee-filter
    (filterChange)="onFilterChange($event)"
    [filter]="filter"
    (openAdd)="onOpenPopup(true)"
  ></app-employee-filter>

  <!-- Popup Thêm nhân viên -->
  <app-employee-form
    *ngIf="isAddPopupOpen"
    [employee]="newRegisterEmployee"
    [isEdit]="false"
    (formSubmit)="onAddSubmit()"
    (closePopup)="onClosePopup()"
  ></app-employee-form>

  <!--- Danh sách nhân viên -->
  <app-employee-list
    [employees]="employees"
    (viewDetail)="onViewDetail($event)"
    (toggleStatusChange)="onToggleStatusChange($event.$event, $event.employee)"
    (openPopup)="onOpenPopup(false, $event)"
  ></app-employee-list>

  <!--- Pagination -->
  <app-pagination
    [total]="filter.total"
    [limit]="filter.limit"
    [page]="filter.page"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Popup chi tiết nhân viên -->
  <app-employee-detail
    *ngIf="isDetailPopupOpen && selectedEmployee"
    [employee]="selectedEmployee"
    (closePopup)="onClosePopup()"
  ></app-employee-detail>

  <!-- Popup Sửa nhân viên -->
  <app-employee-form
    *ngIf="isEditPopupOpen"
    [employee]="newEmployee"
    [isEdit]="true"
    (formSubmit)="onEditSubmit()"
    (closePopup)="onClosePopup()"
  ></app-employee-form>
</div>
