<div class="room-controls" style="display: flex; align-items: center; gap: 8px">
  <div
    class="form-floating form-floating-custom mb-3"
    style="position: relative; flex: 1"
  >
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      style="width: 100%; padding-right: 30px"
      [(ngModel)]="filter.search"
      (ngModelChange)="filterChange.emit()"
    />
    <label for="floatingInput">Tìm kiếm</label>
  </div>
</div>
<!-- Filter -->
<div class="filter-bar">
  <div>
    <label for="statusFilter">Trạng thái:</label>
    <select
      id="statusFilter"
      class="form-select"
      [(ngModel)]="filter.status"
      (ngModelChange)="filterChange.emit()"
    >
      <option value="">Tất cả</option>
      <option value="pending">Lỗi/ Đang xử lý</option>
      <option value="completed">Hoàn tất</option>
    </select>
  </div>
  <div>
    <label for="methodFilter">Phương thức thanh toán:</label>
    <select
      id="methodFilter"
      class="form-select"
      [(ngModel)]="filter.method"
      (ngModelChange)="filterChange.emit()"
    >
      <option value="">Tất cả</option>
      <option *ngFor="let method of paymentMethods" [value]="method.id">
        {{ method.name }}
      </option>
    </select>
  </div>
  <div>
    <label for="payment-date">Ngày thanh toán</label>
    <input
      type="date"
      [(ngModel)]="filter.payment_date"
      (change)="filterChange.emit()"
    />
  </div>
  <div>
    <label>Sắp xếp:</label>
    <button (click)="filterChange.emit('status')">
      Trạng thái: {{ filter.order === "asc" ? "↑" : "↓" }}
    </button>
  </div>
</div>
