<div class="container">
  <div class="page-inner" style="margin-top: 69px">
    <div class="row">
      <div class="col-md-8">
        <app-overview
          [totalUsers]="totalUsers"
          [revenueToday]="revenueToday"
          [bookingsToday]="bookingsToday"
          [occupancyRate]="occupancyRate"
        ></app-overview>
        <app-revenue-chart
          [revenueByMonth]="revenueByMonth"
        ></app-revenue-chart>
      </div>
      <div class="col-md-4">
        <app-booking-statistics
          [statusStats]="statusStats"
          [period]="period"
          [from]="statusFrom"
          [to]="statusTo"
          (periodChange)="fetchBookingStatusStatistics($event.period, $event.from, $event.to)"
        ></app-booking-statistics>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-round">
          <div class="card-header">
            <div class="card-head-row card-tools-still-right">
              <h4 class="card-title">Biểu đồ hiển thị tỉ lệ huỷ phòng</h4>
              <div class="card-tools">
                <button class="btn btn-icon btn-link btn-primary btn-xs">
                  <span class="fa fa-angle-down"></span>
                </button>
                <button
                  class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"
                  (click)="fetchCancelRateStatistics()"
                >
                  <span class="fa fa-sync-alt"></span>
                </button>
                <button class="btn btn-icon btn-link btn-primary btn-xs">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-cancel-rate
              [cancelRateData]="cancelRateData"
              [from]="from"
              [to]="to"
            ></app-cancel-rate>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-new-user [newUsers]="newUsers"></app-new-user>
      </div>
      <div class="col-md-8">
        <app-payment-history
          [paymentHistory]="paymentHistory"
        ></app-payment-history>
      </div>
    </div>
  </div>
</div>
