<div class="roomtype-management-card">
  <h2>Quản lý thanh toán</h2>

  <app-payment-filter
    [filter]="filter"
    [paymentMethods]="paymentMethods"
    (filterChange)="onFilterChange($event)"
  ></app-payment-filter>

  <app-payment-list
    [payments]="payments"
    [filter]="filter"
    (openDetail)="onOpenPopup(true, $event)"
  ></app-payment-list>

  <!-- Popup chi tiết -->
  <app-payment-detail
    *ngIf="selectedPayment"
    [isVisible]="isDetailPopupOpen"
    [payment]="selectedPayment"
    (close)="onClosePopup()"
  ></app-payment-detail>
</div>
