<div class="roomtype-management-card">
  <h2>Quản lý trạng thái đặt phòng</h2>

  <app-booking-status-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
  ></app-booking-status-filter>

  <div class="table-header">
    <div>STT</div>
    <div>Tên trạng thái</div>
    <div>Mã trạng thái</div>
    <div>Trạng thái</div>
    <div>Booking</div>
    <div>Hành động</div>
  </div>

  <app-booking-status-list
    [bookingStatuses]="bookingStatuses"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.status)"
    (openEdit)="onOpenPopup(false, $event)"
  ></app-booking-status-list>

  <app-booking-status-form
    *ngIf="isAddPopupOpen"
    [bookingStatus]="newBookingStatus"
    (submitForm)="onAddSubmit()"
    (close)="isAddPopupOpen = false"
  ></app-booking-status-form>

  <app-booking-status-form
    *ngIf="isEditPopupOpen"
    [bookingStatus]="newBookingStatus"
    [isEdit]="true"
    (submitForm)="onEditSubmit()"
    (close)="isEditPopupOpen = false"
  ></app-booking-status-form>

  <app-pagination
    [limit]="filter.limit"
    [total]="filter.total"
    [page]="filter.page"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
