<div class="roomtype-management-card">
  <h2>Quản lý loại phòng chính</h2>

  <!-- Filter -->
  <app-common-filter-bar
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
    [label]="'Thêm loại phòng chính'"
  ></app-common-filter-bar>

  <!-- Popup Thêm loại phòng chính -->
  <app-main-room-class-form
    *ngIf="isAddPopupOpen"
    [imagePreview]="imagePreview"
    [isEdit]="false"
    [mainRoomClass]="newMainRoom"
    (submitForm)="onAddSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-main-room-class-form>

  <div class="table-header">
    <div>STT</div>
    <div>Tên loại phòng chính</div>
    <div>Hình ảnh</div>
    <div>Ngày cập nhật</div>
    <div>Loại phòng con</div>
    <div>Trạng thái</div>
    <div>Hành động</div>
  </div>

  <app-main-room-class-list
    [mainRoomClasses]="mainRoomClasses"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.mainRoomClass)"
    (openEdit)="onOpenPopup(false, $event)"
    (openDetail)="onViewDetail($event)"
  ></app-main-room-class-list>

  <app-pagination
    [page]="filter.page"
    [limit]="filter.limit"
    [total]="filter.total"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Popup chi tiết -->
  <app-main-room-class-detail-popup
    [isVisible]="isDetailPopupOpen"
    [mainRoomClass]="selectedMainRoomClass"
    (closePopup)="onClosePopup()"
  ></app-main-room-class-detail-popup>

  <!-- Popup Sửa loại phòng chính -->
  <app-main-room-class-form
    *ngIf="isEditPopupOpen"
    [imagePreview]="imagePreview"
    [isEdit]="true"
    [mainRoomClass]="selectedMainRoomClass"
    (submitForm)="onEditSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-main-room-class-form>
</div>
