.comment-management-card {
  background: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: auto 24px auto 45px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .table-header {
    display: grid;
    grid-template-columns: 70px repeat(7, 1fr);
    border-bottom: 1px solid #eee;
    font-weight: 500;
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 6px 0;
  }

  .table-header > div {
    padding: 8px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
}
