<div class="comment-management-card">
  <h2>Quản lí bình luận</h2>

  <!--- Thanh lọc bình luận -->
  <app-common-filter-bar
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
  ></app-common-filter-bar>

  <div class="table-header">
    <div>STT</div>
    <div>Tên người dùng</div>
    <div>Email</div>
    <div>Nội dung</div>
    <div>Phòng</div>
    <div>Ngày tạo</div>
    <div>Trạng thái</div>
    <div>Hành động</div>
  </div>

  <!--- Hiển thị danh sách bình luận -->
  <app-comment-list
    [filter]="filter"
    [comments]="userComments"
    (toggleChange)="onToggleChange($event.$event, $event.comment)"
    (viewDetail)="onPopupOpen(true, $event)"
    (viewReplyPopup)="onPopupOpen(false, $event)"
  ></app-comment-list>

  <!--- Phân trang -->
  <app-pagination
    [total]="filter.total"
    [limit]="filter.limit"
    [page]="filter.page"
    (pageChange)="onPageChange($event)"
  />

  <!-- popup xem chi tiết -->
  <app-comment-detail-popup
    [comment]="selectedComment"
    [isVisible]="isDetailPopupOpen"
    (closePopup)="onClosePopup()"
  ></app-comment-detail-popup>

  <!-- popup phản hồi bình luận -->
  <app-comment-reply-popup
    [comment]="selectedComment"
    [isVisible]="isReplyPopupOn"
    (submitForm)="onReplySubmit({
      content: $event.content,
      room_class_id: $event.room_class_id,
      parent_id: $event.parent_id,
    })"
    (close)="onClosePopup()"
  ></app-comment-reply-popup>
</div>
