<!-- Sidebar -->
<div class="sidebar" data-background-color="dark2">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a [routerLink]="['/home']" class="logo">
        <img
          src="assets/img/image.png"
          alt="navbar brand"
          class="navbar-brand"
          height="50"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a [routerLink]="['/home']" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <!-- <span class="caret"></span> -->
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Management</h4>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#rooms">
            <i class="fas fa-hotel"></i>
            <p>Quản lý phòng</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="rooms">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/main-room-class']">
                  <span class="sub-item">Danh sách loại phòng chính</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/room-class']">
                  <span class="sub-item">Danh sách loại phòng</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/room']">
                  <span class="sub-item">Danh sách phòng</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#bookings">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Quản lý đặt phòng</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="bookings">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/main-room-class']">
                  <span class="sub-item">Danh sách đặt phòng</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/room-class']">
                  <span class="sub-item">Trạng thái đặt phòng</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/room']">
                  <span class="sub-item">Phương thức đặt phòng</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#contents">
            <i class="fa-solid fa-envelopes-bulk"></i>
            <p>Quản lý nội dung trang</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="contents">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/website-content']">
                  <span class="sub-item">Nội dung trang</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/content-type']">
                  <span class="sub-item">Loại nội dung</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/comment']">
                  <span class="sub-item">Bình luận</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/review']">
                  <span class="sub-item">Đánh giá</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#users">
            <i class="fa-solid fa-users"></i>
            <p>Quản lý người dùng</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="users">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/user']">
                  <span class="sub-item">Danh sách khách hàng</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/employee']">
                  <span class="sub-item">Trạng thái nhân viên</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#features">
            <i class="fa-solid fa-tags"></i>
            <p>Dịch vụ & Ưu đãi</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="features">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/service']">
                  <span class="sub-item">Danh sách dịch vụ</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/discount']">
                  <span class="sub-item">Danh sách khuyến mãi</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#payments">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Quản lý thanh toán</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="payments">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="['/admin/payments']">
                  <span class="sub-item">Danh sách hoá đơn</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/admin/payment-method']">
                  <span class="sub-item">Phương thức thanh toán</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
