<div class="table-rom">
  <div class="table-row" *ngFor="let comment of comments; let i = index">
    <div>{{ (filter.page - 1) * filter.limit + i + 1 }}</div>
    <div>
      {{ comment.user?.last_name }}
      {{ comment.user?.first_name }}
    </div>
    <div>
      {{ comment.user?.email }}
    </div>
    <div>{{ comment.content }}</div>
    <div>{{ comment.room_class.name }}</div>
    <div>{{ comment.createdAt | formatDate }}</div>
    <div class="status-column">
      <label class="switch">
        <input
          type="checkbox"
          [checked]="comment.status"
          (change)="toggleChange.emit({$event, comment})"
        />
        <span class="slider"></span>
      </label>
    </div>
    <div class="actions">
      <button (click)="viewDetail.emit(comment)">
        <i class="fa-solid fa-eye"></i>
      </button>
      <button (click)="viewReplyPopup.emit(comment)">
        <i class="fa-solid fa-reply"></i>
      </button>
    </div>
  </div>
</div>
