<div class="user-management-card">
  <h2>Quản lí khách hàng</h2>

  <!--- User Filter -->
  <app-user-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
  ></app-user-filter>
  <!-- User Detail Popup -->
  <app-user-detail
    [isVisible]="isDetailPopupOpen"
    [user]="selectedUser"
    (closeDetail)="onClosePopup()"
  ></app-user-detail>

  <!-- Table Body -->
  <app-user-list
    [users]="users"
    [filter]="filter"
    (toggleChange)="onToggleChange($event.$event, $event.user)"
    (viewDetail)="onViewDetail($event)"
  ></app-user-list>

  <!-- Pagination -->
  <app-pagination
    [total]="filter.total"
    [page]="filter.page"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
