.footerWrapper {
  color: #d0d4e7;
  background-image: url("/img/ft1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.6); /* lớp đen mờ */
  background-blend-mode: darken; /* trộn màu tối với ảnh */
}
.quick {
  margin-top: 37px;
  padding-left: 5rem;
}
.send {
  margin-top: 37px;
}
.emailInput {
  padding: 10px 15px;
  background-color: #d0d4e7;
  outline: none;
  color: black;
}
.sendButton {
  padding: 10px 15px;
  background-color: #fab320;
}
.socialIcons a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.socialIcons a:hover {
  color: #fab320;
}
