.bgColor {
  /* background-color: #141627; */
  height: 204px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.item {
  position: relative;
  display: inline-block;
  /* Chỉ rộng theo chữ */
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.item:hover::after {
  transform: scale(1);
}
.inputSearch {
  background-color: transparent;
  width: 20rem;
  height: 30px;
  border: 0.2px solid white !important;
}

.inputSearch::placeholder {
  color: white;
  font-size: 14px;
}

.inputSearch:focus {
  background-color: transparent;
}

.formSearch {
  margin-right: 100px;
}
.btnSearch {
  height: 30px;
  display: flex;
  align-items: center;
}
.search {
  font-size: 14px;
}
.navbarScrollBg {
  background-color: black !important;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarScrollBg :global(.nav-link),
.navbarScrollBg :global(.navbar-brand),
.navbarScrollBg :global(.bi) {
  color: white !important;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #555;
}

.searchInput::placeholder {
  color: white;
}
@media (max-width: 768px) {
  :global(.navbar) {
    background: black !important;
    padding: 10px;
    text-align: center;
  }

  :global(.navbar .nav-link),
  :global(.navbar .navbar-brand),
  :global(.navbar .bi) {
    color: white !important;
  }
}
