<div class="roomtype-management-card">
  <h2>Quản lý khuyến mãi</h2>

  <app-discount-filter
    [filter]="filter"
    [label]="'Thêm khuyến mãi'"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
  ></app-discount-filter>

  <app-discount-list
    [discounts]="discounts"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.discount)"
    (viewDetail)="onViewDetail($event)"
    (openEdit)="onOpenPopup($event)"
  ></app-discount-list>

  <app-pagination
    *ngIf="filter.total && filter.page && filter.limit"
    [total]="filter.total"
    [page]="filter.page"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
