<div class="roomtype-management-card">
  <h2>Quản lý khuyến mãi</h2>

  <app-discount-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
  ></app-discount-filter>

  <app-discount-list
    [discounts]="discounts"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.discount)"
    (viewDetail)="onViewDetail($event)"
    (openEdit)="onOpenPopup(false, $event)"
  ></app-discount-list>

  <app-pagination
    *ngIf="filter.total && filter.page && filter.limit"
    [total]="filter.total"
    [page]="filter.page"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-discount-detail
    *ngIf="isDetailPopupOpen && selectedDiscount"
    [discount]="selectedDiscount"
    [roomClasses]="roomClasses"
    (close)="onClosePopup()"
  ></app-discount-detail>

  <app-discount-form
    *ngIf="isAddPopupOpen"
    [discount]="newDiscount"
    [roomClasses]="roomClasses"
    [isEdit]="false"
    [imagePreview]="imagePreview"
    (submitForm)="onAddSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-discount-form>

  <app-discount-form
    *ngIf="isEditPopupOpen"
    [discount]="newDiscount"
    [roomClasses]="roomClasses"
    [isEdit]="true"
    [imagePreview]="imagePreview"
    (submitForm)="onEditSubmit()"
    (close)="onClosePopup()"
    (fileSelected)="onFileSelected($event)"
  ></app-discount-form>
</div>
