<div
  *ngFor="let mainRoomClass of mainRoomClasses; let i = index"
  class="table-row"
>
  <div>{{ (filter.page - 1) * filter.limit + i + 1 }}</div>
  <div>{{ mainRoomClass.name }}</div>
  <div>
    <img
      *ngIf="mainRoomClass.images && mainRoomClass.images.length > 0"
      [src]="getImageUrl(mainRoomClass.images[0].url)"
      alt="Content Image"
      class="content-image"
    />
  </div>
  <div>{{ mainRoomClass.updatedAt | formatDate }}</div>
  <div>
    <ng-container *ngIf="mainRoomClass.room_class_list">
      <div *ngFor="let roomClass of mainRoomClass.room_class_list?.slice(0, 2)">
        - Tên phòng: {{ roomClass.name }}
      </div>
      <div
        *ngIf="mainRoomClass.room_class_list.length > 2"
        class="tw-text-gray-500"
      >
        +{{ mainRoomClass.room_class_list.length - 2 }} phòng nữa
      </div>
    </ng-container>
  </div>
  <div class="status-column">
    <label class="switch">
      <input
        type="checkbox"
        [checked]="mainRoomClass.status"
        (change)="toggleStatus.emit({ mainRoomClass, $event })"
      />
      <span class="slider"></span>
    </label>
  </div>

  <div class="actions">
    <button class="icon-button" (click)="openDetail.emit(mainRoomClass)">
      <i class="fas fa-eye"></i>
    </button>
    <button class="icon-button" (click)="openEdit.emit(mainRoomClass)">
      <i class="fas fa-pen"></i>
    </button>
  </div>
</div>
