<div class="room-management user-management-card">
  <h2>Quản lý phòng</h2>

  <!-- Thanh tìm kiếm -->
  <app-room-filter
    [filter]="filter"
    [roomClasses]="roomClasses"
    [roomStatuses]="roomStatuses"
    (filterChange)="onFilterChange()"
    (openPopup)="onOpenPopup(true)"
  ></app-room-filter>

  <!-- popup thêm phòng -->
  <app-room-form
    *ngIf="isAddPopupOpen"
    [room]="newRoom"
    [roomClasses]="roomClasses"
    [roomStatuses]="roomStatuses"
    [isEdit]="false"
    (formSubmit)="onAddSubmit()"
    (close)="onClosePopup()"
  ></app-room-form>

  <!-- Table Header -->
  <div class="table-header">
    <div>STT</div>
    <div>Tên phòng</div>
    <div>Tầng</div>
    <div>Tên loại phòng</div>
    <div>Trạng thái</div>
    <div>Số lần book</div>
    <div>Hành động</div>
  </div>

  <!-- Table Rows -->
  <app-room-list
    [rooms]="rooms"
    (viewDetail)="onViewDetail($event)"
    (openPopup)="onOpenPopup(false, $event)"
  ></app-room-list>

  <!-- Pagination -->
  <app-pagination
    [page]="filter.page"
    [total]="filter.total"
    [limit]="filter.limit"
    (pageChange)="onPageChange($event)"
  />

  <!-- popup chi tiết -->
  <app-room-detail
    *ngIf="isDetailPopupOpen && selectedRoom"
    [room]="selectedRoom"
    (close)="onClosePopup()"
    [calendarOptions]="calendarOptions"
  ></app-room-detail>

  <!-- popup sửa phòng -->
  <app-room-form
    *ngIf="isEditPopupOpen"
    [room]="newRoom"
    [roomClasses]="roomClasses"
    [roomStatuses]="roomStatuses"
    [isEdit]="true"
    (formSubmit)="onEditSubmit()"
    (close)="onClosePopup()"
  ></app-room-form>
</div>
