.box {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
}
.bookingBtn {
  background-color: #fab320;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* thêm khoảng cách nếu cần */
}
