<div class="comment-management-card">
  <h2>Quản lí bình luận</h2>

  <!--- Thanh lọc bình luận -->
  <app-review-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
  ></app-review-filter>

  <div class="table-header">
    <div>STT</div>
    <div>Tên người dùng</div>
    <div>Email</div>
    <div>Nội dung</div>
    <div>Mã đơn</div>
    <div>Ngày tạo</div>
    <div>Trạng thái</div>
    <div>Hành động</div>
  </div>

  <!--- Hiển thị danh sách bình luận -->
  <app-review-list
    [filter]="filter"
    [reviews]="userReviews"
    (toggleChange)="onToggleChange($event.$event, $event.review)"
    (viewDetail)="onPopupOpen(true, $event)"
    (viewReplyPopup)="onPopupOpen(false, $event)"
  ></app-review-list>

  <!--- Phân trang -->
  <app-pagination
    [total]="filter.total"
    [limit]="filter.limit"
    [page]="filter.page"
    (pageChange)="onPageChange($event)"
  />

  <!-- popup xem chi tiết -->
  <app-review-detail-popup
    *ngIf="isDetailPopupOpen && selectedReview"
    [review]="selectedReview"
    (closePopup)="onClosePopup()"
  ></app-review-detail-popup>

  <!-- popup phản hồi bình luận -->
  <app-review-reply-popup
    *ngIf="isReplyPopupOn && selectedReview"
    [review]="selectedReview"
    (submitForm)="onReplySubmit({
      booking_id: $event.booking_id,
      content: $event.content,
      room_class_id: $event.room_class_id,
      parent_id: $event.parent_id,
    })"
    (close)="onClosePopup()"
  ></app-review-reply-popup>
</div>
