<div class="roomtype-management-card">
  <h2>Quản lý loại phòng chính</h2>
  <div class="room-controls">
    <input type="text" placeholder="Tìm kiếm loại phòng..." />
    <button class="add-room" (click)="onAdd()">+ Thêm loại phòng</button>
  </div>

  <div class="table-header">
    <div>STT</div>
    <div>Tên LPC</div>
    <div>Mô tả</div>
    <div>Hình ảnh</div>
    <div>Loại phòng con</div>
    <div>Trạng thái</div>
    <div>Hành động</div>
  </div>

  <div *ngFor="let rtm of roomTypeMains; let i = index">
    <div class="table-row">
      <div>{{ i + 1 }}</div>
      <div>{{ rtm.TenLP }}</div>
      <div>{{ rtm.MoTa }}</div>
      <div class="image-list">
        <img *ngFor="let img of rtm.HinhAnh" [src]="'/assets/img/' + img.HinhAnh" alt="Hình ảnh loại phòng" />
      </div>
      <div>
        <ul>
          <li *ngFor="let rt of rtm.DanhSachLoaiPhong || []">{{ rt.TenLPCT }}</li>
        </ul>
      </div>
      <div class="status-column">
        <label class="switch">
          <input type="checkbox" [checked]="rtm.TrangThai" (change)="onToggleStatus(rtm)" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="action-column">
        <button class="icon-button" (click)="onEdit(rtm)">
          <i class="fas fa-pen"></i>
        </button>
      </div>

    </div>
  </div>
</div>
