<div class="roomtype-management-card">
  <h2>Quản lý phương thức thanh toán</h2>

  <app-common-filter-bar
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    [label]="'Thêm phương thức thanh toán'"
    (openAdd)="onOpenPopup(true)"
  ></app-common-filter-bar>

  <app-payment-method-list
    [paymentMethods]="paymentMethods"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.method)"
    (openEdit)="onOpenPopup(false, $event)"
  ></app-payment-method-list>

  <app-pagination
    *ngIf="filter.total && filter.limit && filter.page"
    [limit]="filter.limit"
    [total]="filter.total"
    [page]="filter.page"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-payment-method-form
    [isVisible]="isAddPopupOpen"
    [paymentMethod]="newPaymentMethod"
    (close)="onClosePopup()"
    (submit)="onAddSubmit()"
    [isEdit]="false"
  ></app-payment-method-form>

  <app-payment-method-form
    [isVisible]="isEditPopupOpen"
    [paymentMethod]="newPaymentMethod"
    (close)="onClosePopup()"
    (submit)="onEditSubmit()"
    [isEdit]="true"
  ></app-payment-method-form>
</div>
