<div class="popup-overlay tw-animate-fadeIn">
  <div class="popup-content">
    <h2>Chi tiết phòng: {{ room.name }}</h2>

    <label>Lịch đặt phòng:</label>
    <full-calendar [options]="calendarOptions"></full-calendar>

    <div class="popup-section">
      <label>Tên phòng:</label>
      <span>{{ room.name || "Không rõ" }}</span>
    </div>

    <div class="popup-section">
      <label>Tầng:</label>
      <span>{{ room.floor }}</span>
    </div>

    <div class="popup-section">
      <label>Trạng thái:</label>
      <span>{{ room.room_status?.name }}</span>
    </div>

    <div class="popup-section">
      <label>Mô tả:</label>
      <span>{{ room.room_class?.description }}</span>
    </div>

    <div class="popup-section">
      <label>Số giường:</label>
      <span>{{ room.room_class?.bed?.quantity }}</span>
    </div>

    <div class="popup-section">
      <label>Tên loại phòng:</label>
      <span>{{ room.room_class?.name }}</span>
    </div>

    <div class="popup-section">
      <label>Giá:</label>
      <span>{{ room.room_class?.price | currency : "VND" : "symbol" }}</span>
    </div>

    <div class="popup-section">
      <label>Giá giảm:</label>
      <span>{{
        room.room_class?.price_discount | currency : "VND" : "symbol"
      }}</span>
    </div>

    <div class="popup-section">
      <label>Sức chứa:</label>
      <span>{{ room.room_class?.capacity }} người</span>
    </div>

    <button class="close-btn" (click)="close.emit()">Đóng</button>
  </div>
</div>
