<div class="roomtype-management-card">
  <h2>Quản lý phương thức đặt phòng</h2>

  <app-booking-method-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
    (openAdd)="onOpenPopup(true)"
  />

  <!-- Header bảng -->
  <div class="table-header">
    <div>STT</div>
    <div>Tên phương thức</div>
    <div>Mô tả</div>
    <div>Trạng thái</div>
    <div>Booking</div>
    <div>Hành động</div>
  </div>

  <!-- Danh sách phương thức -->
  <app-booking-method-list
    [bookingMethods]="bookingMethods"
    [filter]="filter"
    (toggleStatus)="onToggleChange($event.$event, $event.method)"
    (openEdit)="onOpenPopup(false, $event.method)"
  />

  <!-- Popup thêm mới -->
  <app-booking-method-form
    *ngIf="isAddPopupOpen"
    [bookingMethod]="newBookingMethod"
    (submitForm)="onAddSubmit()"
    (close)="onClosePopup()"
  />

  <!-- Popup chỉnh sửa -->
  <app-booking-method-form
    *ngIf="isEditPopupOpen"
    [bookingMethod]="newBookingMethod"
    [isEdit]="true"
    (submitForm)="onEditSubmit()"
    (close)="onClosePopup()"
  />
</div>
