<div class="room-management user-management-card">
  <h2>Quản lý loại phòng</h2>

  <!-- Controls -->
  <app-room-class-filter
    [filter]="filter"
    [features]="features"
    [mainRoomClasses]="mainRoomClasses"
    (filterChange)="onFilterChange($event)"
    (openPopup)="onOpenPopup(true)"
  ></app-room-class-filter>

  <!-- Table Header -->
  <div class="table-header">
    <div>STT</div>
    <div>Tên</div>
    <div>
      Số giường <br />
      (Sức chứa)
    </div>
    <div>Giá</div>
    <div>Số phòng trống</div>
    <div>Tiện nghi</div>
    <div>Trạng thái</div>
    <div>Hành động</div>
  </div>

  <!-- Table Rows -->
  <app-room-class-list
    [roomClasses]="roomClasses"
    [filter]="filter"
    (openDetail)="onViewDetail($event)"
    (openEdit)="onOpenPopup(false, $event)"
    (toggleStatus)="onToggleChange($event.$event, $event.rc)"
  ></app-room-class-list>

  <!-- Pagination -->
  <app-pagination
    [page]="filter.page"
    [limit]="filter.limit"
    [total]="filter.total"
    (pageChange)="onPageChange($event)"
  />

  <!-- Popup chi tiết loại phòng -->
  <app-room-class-detail
    *ngIf="isDetailPopupOpen && selectedRoomClass"
    [roomClass]="selectedRoomClass"
    (closePopup)="onClosePopup()"
  ></app-room-class-detail>

  <!-- Thêm loại phòng -->
  <app-room-class-form
    *ngIf="isAddPopupOpen"
    [isEdit]="false"
    [formData]="newRoomClass"
    [features]="features"
    [mainRoomClasses]="mainRoomClasses"
    [imagePreview]="imagePreview"
    [selectedFeatureIds]="selectedFeatureIds"
    (close)="onClosePopup()"
    (formSubmit)="onAddRoomClass()"
    (fileSelected)="onFileSelected($event)"
    (removeImage)="removeImage($event.index, $event.event)"
    (featureToggle)="onFeatureToggle($event.id, $event.event)"
  ></app-room-class-form>

  <!-- Sửa loại phòng -->
  <app-room-class-form
    *ngIf="isEditPopupOpen"
    [isEdit]="true"
    [formData]="newRoomClass"
    [features]="features"
    [mainRoomClasses]="mainRoomClasses"
    [imagePreview]="imagePreview"
    [selectedFeatureIds]="selectedFeatureIds"
    (close)="onClosePopup()"
    (formSubmit)="onEditRoomClass()"
    (fileSelected)="onFileSelected($event)"
    (removeImage)="removeImage($event.index, $event.event)"
    (featureToggle)="onFeatureToggle($event.id, $event.event)"
  ></app-room-class-form>
</div>
